#skills {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    top: -130px;
    color: white;
    overflow-x: hidden;
}

.card {
    background-color: rgb(92, 92, 92);
    border-radius: 10px;
    padding: 50px;
    width: 100%;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
    overflow-x: hidden;
    }

.card h2{
    color: white;
    margin-bottom: 30px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    color: black;
}

/* .icon{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #9c9c9c;
    border-radius: 5px;
    transition: 0.3s;
}

.icon:hover{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.288); 
} */

@media (max-width: 480px) {
    .card{
        padding: 50px;
    }

    .grid-item{
        padding: 20px;
    }
}


@media (min-width: 600px) {
    .card {
        width: 50vw;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Aumenta o tamanho mínimo */
    }

    .grid-item {
        padding: 40px; /* Aumenta o espaçamento interno */
    }
}

/* Em telas maiores que 900px */
@media (min-width: 900px) {
    .card {
        width: 60%;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Aumenta ainda mais o tamanho mínimo */
    }

    .grid-item {
        padding: 50px; /* Aumenta mais o espaçamento interno */
    }
}
